allow hal_wifi_supplicant vendor_data_file:file create_file_perms;
allow hal_wifi_supplicant vendor_data_file:dir create_dir_perms;
allow hal_wifi_supplicant vendor_data_file:sock_file create_file_perms;