type shal_trust_default, domain;
hwbinder_use(shal_trust_default)

type shal_trust_default_exec, exec_type, file_type;
init_daemon_domain(shal_trust_default)

# Add vendor.lineage.trust::IUsbRestrict service to hwservicemanager
add_hwservice(shal_trust_default, shal_lineage_trust_hwservice)

# Talk to the binder device node
allow shal_trust_default binder_device:chr_file rw_file_perms;

# Check if hwservicemanager is ready
get_prop(shal_trust_default, hwservicemanager_prop)

allow shal_trust_default self:capability sys_admin;

type shal_trust_file, file_type, fs_type, proc_type;
allow shal_trust_default shal_trust_file:file rw_file_perms;
