init_daemon_domain(system_suspend)

# To serve ISuspendControlService.aidl.
binder_use(system_suspend)
add_service(system_suspend, system_suspend_control_service)

# Access to /sys/power/{ wakeup_count, state } suspend interface.
allow system_suspend sysfs_power:file rw_file_perms;

allow system_suspend sysfs:dir { open read };
allow system_suspend sysfs:file { getattr };

allow system_suspend sysfs_wakeup:dir { open read };

dontaudit system_suspend sysfs:file { open read };

# Access to /sys/power/{ wake_lock, wake_unlock } suspend blocker interface.
allow system_suspend self:global_capability2_class_set block_suspend;
allow system_suspend sysfs_wake_lock:file rw_file_perms;

# RTC
allow system_suspend sysfs_rtc:dir r_dir_perms;
allow system_suspend sysfs_rtc:file rw_file_perms;
