#camera remosaic service

service remosaic_daemon /system/vendor/bin/remosaic_daemon
   class late_start
   user camera
   group camera

on boot
    chown cameraserver root /sys/class/thermal/thermal_message/boost
    chmod 0664 /sys/class/thermal/thermal_message/boost
