service vendor.power-hal-1-2 /vendor/bin/hw/android.hardware.power@1.2-service.xiaomi_sdm845-libperfmgr
    class hal
    user system
    group system

# restart powerHAL when framework died
on property:init.svc.zygote=restarting && property:vendor.powerhal.state=*
   setprop vendor.powerhal.state ""
   setprop vendor.powerhal.audio ""
   restart vendor.power-hal-1-2

# restart powerHAL when audioHAL died
on property:init.svc.vendor.audio-hal-2-0=restarting && property:vendor.powerhal.audio=LOW_LATENCY
   setprop vendor.powerhal.audio ""
   restart vendor.power-hal-1-2
